.descripitionbox{
    margin: 120px 170px;
}
.descripitionbox-navigator{
    display: flex;
}

.descripitionbox-descipition{
    display: flex;
    flex-direction: column;
    gap: 25px;
    border: 1px solid #d0d0d0;
    padding: 48px;
    padding-bottom: 70px;
}